h3{
    text-decoration: underline; /*underlind*/
}
body{
    background-color: #E5D4ED; /*change html background page to light pink color */
}
/* center */
.Content, 
.Content_photo{
    text-align: center;
}
/* change fontsize and position of title*/
.title{
    font-size: 50px;
    background-color: yellow;
    position: relative;
    left: 550px;

}
/* date to top right corner*/
.date{
    position: absolute;
    top: 50px;
    left: 1200px;
    color: red;
}
/* add border to my name */
.myname{
    border-style: dashed;
    border-color: darkgray;
    border-radius: 10%;
    border-width: .4ex;
    color: hsl(192, 7%, 14%,1);
}
img{
    /* long hand */
    border:3px dashed orange;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2ch;
    padding-left: 2ch;
    /* short hand*/
    padding: 1em 2ch 1em;
    text-align: center;
}
ul{
    color: rgb(222, 115, 38);
}
footer{
    /* long hand */
    margin-top: 5mm;
    margin-bottom: 1cm;
    margin-left: 0cm;
    margin-right: 1cm;
    /* short hand*/
    margin: 5mm 1cm 1cm 0cm;
}
button{
    margin: 0ch 0ch 1Q 80pc;
}
button:active{
    font-weight: 700;
    color: green;
}
/* details on button cursor hovers button*/
[data-tooltip]{
    position:relative;
}
[data-tooltip]:hover:after{
    content: "click_to_save";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 1px;
    padding: 5px;

}
/* hide text */
.hide{
    display: none;
}
/* new line for text*/
.newline{
    display: block;
}
/*spaces between the grey line*/
hr{
    margin-top: 5mm;
}
/*copyright position*/
#copyright{
    position: flex;
    bottom: -4cm;
}

*{
    font-family: 'Bruno Ace SC', cursive; /* custom font*/
}
.pro{
    background-color: lightgreen;
}
.con{
    background-color: red;

}
.sidenote{
    background-color: white;

}
.container{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}
.pro{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
.con{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}
.sidenote{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}
p{
    display:flex;
}
summary{
    background-color: lightyellow;
    width: 15em;
    height: 1.3em;
    max-width: 20em;
    min-width: 15em;
}
ul #me{
    color: yellow;
}
ul ~ ul{
    color:black;
}
p > span{
    color: green;
}
ul + .container{
    color: black;
}
.friend.groupmate{
    background-color: lightyellow;
}
